version: '3.8'
services:
  db:
    image: postgres:15
    container_name: crm_postgres
    restart: always
    environment:
      POSTGRES_DB: crm
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
